.site-layout-background {
    padding: 0;
}

.layoutContent {
    margin: 0 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.breadcrumb {
    margin: 16px 0;
}

.site-layout-background {
    padding: 24;
    max-height: 360px;
}

.layoutFooter {
    text-align: center;
}