.site-layout-background {
  padding: 0;
}

.layoutContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-layout-background {
  padding: 24;
  max-height: 360px;
}

.layoutFooter {
  text-align: center;
}
