.ant-form-item-control-input-content Button {
  width: 100%;
  margin-bottom: 5px;
}

.login-form,
.register-form {
  min-width: 26vw;
}

// .submitButtonContainer {
//   display: flex;
//   justify-content: center;
// }
